@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
    font-family: 'Poppins', sans-serif;
    background: #013149;
}

body {
    width: 100%;
    height: 100%;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin-top: 20px;
    margin-left: 8%;
    font-size: 2.2rem;
    color: #E5F4F5;
}

ul {
    margin-top: 20px;
    margin-right: 8%;
    display: flex;
    gap: 35px;
    list-style: none;
}

ul li {
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    color: #E5F4F5;
    transition: transform 0.3s ease;
}

ul li::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px; /* Altura de la barra */
    background-color: #ffffff; /* Color de la barra */
    bottom: 0;
    left: 0;
    transform: scaleX(0); /* Inicialmente invisible */
    transition: transform 0.3s ease; /* Agregar transición a la propiedad transform */
}

ul li:hover {
    transform: translateY(-5px);
}

ul li:hover::after {
    transform: scaleX(1); /* Hacer visible la barra en estado hover */
}

.main-content {
    display: flex;
    margin-top: 180px;
    margin-left: 8%;
}

.box-left h1 {
    font-size: 4rem;
    color: #E5F4F5;
    animation: moveH1 2s ease infinite;
}

/* Animación del h1  */

.box-left h2 {
    font-size: 3.3rem;
    color: #E5F4F5;
}

.box-left p {
    margin-top: 20px;
    font-size: 1.1rem;
    color: #E5F4F5;
}

.box-left button {
   cursor: pointer;
   margin-top: 40px; 
   width: 180px;
   height: 50px;
   border-radius: 20px;
   border: 1px solid #E5F4F5;
   font-size: 1rem;
   font-weight: 700;
   color: #E5F4F5;
   transition: transform 0.3s ease, background-color 0.5s ease, color 0.5s ease;
}

.box-left button:hover {
    background-color: #E5F4F5;
    color: #013149;
    transform: scale(1.1); /* Cambiar la escala en estado hover */
 }

 .box-right img {
    margin-top: -80px;
    margin-left: 50px;
    height: 700px;
 }

 .social-media {
    margin-top: 40px;
    display: flex;
    gap: 25px;
 }

 .red {
    width: 52px;
    height: 52px;
    border-radius: 26px;
    border: 2px solid #E5F4F5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
 }

 .red:hover {
    transform: scale(1.1);
 }

 .red i {
    font-size: 1.4em;
    color: #E5F4F5;
}



 @keyframes moveH1 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Puedes ajustar la cantidad y la dirección del movimiento */
    }
    100% {
      transform: translateY(0);
    }
  }


